### **list**

In [ ]:
!pip install numpy
#creating a list of 10 integer
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers)
#sum,max,min
print('Sum',sum(numbers))
print('max',max(numbers))
print('Min',min(numbers))
#Add and remove element
numbers.append(50)
numbers.remove(4)
print('Updated List:',numbers)

#sort ascending and descending
print('Ascending:',sorted(numbers))
print('Descending:',sorted(numbers , reverse=True))

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum 55
max 10
Min 1
Updated List: [1, 2, 3, 5, 6, 7, 8, 9, 10, 50]
Ascending: [1, 2, 3, 5, 6, 7, 8, 9, 10, 50]
Descending: [50, 10, 9, 8, 7, 6, 5, 3, 2, 1]

# `**tuples**`

In [ ]:
#creating a tuple with 5 strings
fruits = ('apple','banana','orange','grapes','mango')
print(fruits)
#printing the secound last and last index
print('Secound Last:',fruits[-2])
print('Last:',fruits[-1])

#try to modify so give error or not
#fruits[1]='kiwi'

#now add element to touple through converting it is to list and then back to touple
fruits = list(fruits)
fruits.append('kiwi')
fruits = tuple(fruits)
print(fruits)

('apple', 'banana', 'orange', 'grapes', 'mango')
Secound Last: grapes
Last: mango
('apple', 'banana', 'orange', 'grapes', 'mango', 'kiwi')

# **Dictionary**

In [ ]:
#creating 5 keys-value of student and marks
student_marks = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'David': 95,
    'Eve': 88
}
print(student_marks)
#print value and keys

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95, 'Eve': 88}

# **Numpy**

# **Sets**

In [ ]:
#create sets
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
#union
print('Union:',set1.union(set2))
#intersection
print('Intersection:',set1.intersection(set2))
#difference
print('Difference:',set1.difference(set2))

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}

# **Matplotib**